body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("http://i65.tinypic.com/mwv1ut.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.apaini {
  padding-left: 200px;
  padding-top: 100px;

}

h1{
text-emphasis: emp;

}

.emailhassent{

  
}